{{#each recordings}}
<tr class="recording-row" data-call-id="{{call_id}}" data-recording-id="{{media_id}}">
    <td>
        {{#compare direction "===" "outbound"}}
        {{telicon "phone-outbound"}} Outbound
        {{else}}
        {{telicon "phone-inbound"}} Inbound
        {{/compare}}
    </td>
    <td>{{caller_id_name}}</td>
    <td>
        <div class="top-line">{{#monsterNumberWrapper callee_id_number}}{{/monsterNumberWrapper}}</div>
        {{#if callee_id_name}}
        <div class="bottom-line">{{callee_id_name}}</div>
        {{/if}}
    </td>
    <td class="select-line no-padding" data-filter-value="{{timestamp}} {{toFriendlyDate timestamp}}"
        data-sort-value="{{timestamp}}">
        <div class="top-line">{{toFriendlyDate timestamp 'date'}}</div>
        <div class="bottom-line">{{toFriendlyDate timestamp 'time'}}</div>
    </td>
    <td class="duration">{{duration}}</td>
    <td class="actions">
        <i class="fa fa-play-circle action-item play-recording"></i>
        <a class="action-item" href="{{uri}}" target="_blank">
            <i class="fa fa-download download-recording"></i>
        </a>
    </td>
</tr>
{{/each}}