<div id="content-wrapper">
	<form id="account-settings" class="form-horizontal">
		<legend>{{i18n.accountSettings.externalCalls}}</legend>
		<div class="control-group">
			<label class="control-label" for="inbound-offnet">{{i18n.accountSettings.inboundExternal}}</label>
			<div class="controls">
				{{#monsterSwitch }}
				<input id="inbound-offnet" name="inbound-offnet" type="checkbox" {{#if inbound_external_enabled}}checked{{/if}}/>
				{{/monsterSwitch}}
			</div>
		</div>

		<div class="control-group">
			<label class="control-label" for="outbound-offnet">{{i18n.accountSettings.outboundExternal}}</label>
			<div class="controls">
				{{#monsterSwitch }}
				<input id="outbound-offnet" name="outbound-offnet" type="checkbox" {{#if outbound_external_enabled}}checked{{/if}} />
				{{/monsterSwitch}}
			</div>
		</div>


		<legend>{{i18n.accountSettings.internalCalls}}</legend>
		<div class="control-group">
			<label class="control-label" for="inbound-onnet">{{i18n.accountSettings.inboundInternal}}</label>
			<div class="controls">
				{{#monsterSwitch }}
				<input id="inbound-onnet" name="inbound-onnet" type="checkbox" {{#if inbound_internal_enabled}}checked{{/if}} />
				{{/monsterSwitch}}
			</div>
		</div>

		<div class="control-group">
			<label class="control-label" for="outbound-onnet">{{i18n.accountSettings.outboundInternal}}</label>
			<div class="controls">
				{{#monsterSwitch }}
				<input id="outbound-onnet" name="outbound-onnet" type="checkbox" {{#if outbound_internal_enabled}}checked{{/if}} />
				{{/monsterSwitch}}
			</div>
		</div>

		<legend>{{i18n.accountSettings.recordingEmails}}</legend>
		<div class="control-group">
			<label class="control-label" for="email-recordings">{{i18n.accountSettings.emailRecordings}}</label>
			<div class="controls">
				{{#monsterSwitch }}
				<input id="email-recordings" name="email-recordings" type="checkbox" {{#if email_enabled}}checked{{/if}} />
				{{/monsterSwitch}}
			</div>
		</div>

		<div class="control-group">
			<label class="control-label" for="email-address">{{i18n.accountSettings.emailAddress}}</label>
			<div class="controls">
				<input id="email-address" name="email-address" type="email" value="{{email_address}}" />
			</div>
		</div>

		<div class="control-group">
			<div class="controls">
				<button type="button" class="monster-button-success save">{{i18n.accountSettings.save}}</button>
			</div>
		</div>
	</form>
</div>
