<div id="content-wrapper">
	<form id="account-settings" class="form-horizontal">
		<legend>External calls</legend>
		<div class="control-group">
			<label class="control-label" for="inputEmail">Inbound External</label>
			<div class="controls">
				{{#monsterSwitch }}
				<input name="inbound-offnet" type="checkbox" {{#if inbound_external_enabled}}checked{{/if}}/>
				{{/monsterSwitch}}
			</div>
		</div>

		<div class="control-group">
			<label class="control-label" for="inputEmail">Outbound External</label>
			<div class="controls">
				{{#monsterSwitch }}
				<input name="outbound-offnet" type="checkbox" {{#if outbound_external_enabled}}checked{{/if}} />
				{{/monsterSwitch}}
			</div>
		</div>


		<legend>Internal calls</legend>
		<div class="control-group">
			<label class="control-label" for="inputEmail">Inbound Internal</label>
			<div class="controls">
				{{#monsterSwitch }}
				<input name="inbound-onnet" type="checkbox" {{#if inbound_internal_enabled}}checked{{/if}} />
				{{/monsterSwitch}}
			</div>
		</div>

		<div class="control-group">
			<label class="control-label" for="inputEmail">Outbound Internal</label>
			<div class="controls">
				{{#monsterSwitch }}
				<input name="outbound-onnet" type="checkbox" {{#if outbound_internal_enabled}}checked{{/if}} />
				{{/monsterSwitch}}
			</div>
		</div>

		<div class="control-group">
			<div class="controls">
				<button type="button" class="monster-button-success save">Save</button>
			</div>
		</div>
	</form>
</div>
