<div id="content-wrapper" class="recordings-container">
	<div class="content">
		<table class="monster-table footable settings-recording-table" id="settings-recording-table">
			<thead>
				<tr>
					<th data-type="html" data-sorted="true">{{i18n.endpointSettings.name}}</th>
					<th data-type="html">{{secondaryLabel}}</th>
					<th data-type="html" data-sortable="false" data-filterable="false">{{i18n.endpointSettings.inboundExternal}}</th>
					<th data-type="html" data-sortable="false" data-filterable="false">{{i18n.endpointSettings.outboundExternal}}</th>
					<th data-type="html" data-sortable="false" data-filterable="false">{{i18n.endpointSettings.inboundInternal}}</th>
					<th data-type="html" data-sortable="false" data-filterable="false">{{i18n.endpointSettings.outboundInternal}}</th>
				</tr>
			</thead>
			<tbody>
				{{#each endpoints}}
				<tr class="endpoint-row" data-endpoint-id="{{id}}">
					<td>{{name}}</td>
					<td>{{secondary}}</td>
					<td>
						{{#monsterSwitch}}
						<input class="recording-toggle" data-type="inbound-offnet" type="checkbox" {{#if inbound_external_enabled}}checked{{/if}} />
						{{/monsterSwitch}}
					</td>
					<td>
						{{#monsterSwitch}}
						<input class="recording-toggle" data-type="outbound-offnet" type="checkbox" {{#if outbound_external_enabled}}checked{{/if}} />
						{{/monsterSwitch}}
					</td>
					<td>
						{{#monsterSwitch}}
						<input class="recording-toggle" data-type="inbound-onnet" type="checkbox" {{#if inbound_internal_enabled}}checked{{/if}} />
						{{/monsterSwitch}}
					</td>
					<td>
						{{#monsterSwitch}}
						<input class="recording-toggle" data-type="outbound-onnet" type="checkbox" {{#if outbound_internal_enabled}}checked{{/if}} />
						{{/monsterSwitch}}
					</td>
				</tr>
				{{/each}}
			</tbody>
		</table>
	</div>
</div>
